################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DZ 5.2/App/.vs/App/v17/.suo
